<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>domen</key>
	<string>https://newsapi.org/v2/</string>
	<key>topNews</key>
	<string>top-headlines?q=trump&amp;apiKey=e65ee0938a2a43ebb15923b48faed18d&amp;page=%d&amp;pageSize=%d</string>
	<key>allNews</key>
	<string>everything?q=trump&amp;apiKey=e65ee0938a2a43ebb15923b48faed18d&amp;page=%d&amp;pageSize=%d</string>
</dict>
</plist>
